{% extends 'base.html' %}
{% load static cart_filters %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="container">
    <h2>Избранное</h2>
    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td><a href={{ item.product.get_absolute_url }}>{{ item.product.name }}</a></td>
                        <td>От {{ item.product.price }} ₽</td>
                        <td>
                            <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Избранное пусто.</p>
    {% endif %}
</div>
{% endblock %}